clubhouse-py==434.0.1
yt-dlp>=2024.3.10
pydub==0.25.1
gTTS>=2.5.1
pyttsx3==2.90
APScheduler==3.10.4
webrtcvad==2.0.10
numpy>=1.26.4
ffmpeg-python==0.2.0
requests>=2.31.0
colorlog==6.8.2
pubnub>=7.6.0
